@import 'tailwindcss';


/* Estilos Globales Dark Mode Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25292e inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Fix floating label overlap with autofill */
input:-webkit-autofill + label {
    transform: translateY(-0.25rem) scale(0.65) !important;
    color: #9ca3af; /* text-gray-400 equivalent */
}